nav {
    background-color: #3c47d5;
    overflow: hidden;
}

nav .logo {
    float: left;
    padding: 15px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    background-color: #2f0095;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    justify-content: flex-end;
}

.social-icons {
    margin-top: 10px;
    color: white;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
}

body {
    display: flex;
    flex-flow: column wrap;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050040;
}

#form {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3c47d5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-self: flex-start;
    justify-content: center;
    
}

input,
select,
button {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}